<div class="row">
    <div class="col-md-10 contentArea">
        <div>
            {{vm.associationCount}} association(s) currently registered.
        </div>

        <div class="panel panel-success" ng-if="vm.demoreqs">
            <div class="panel-heading">Latest demo requests</div>
            <div class="panel-body">
                <ul>
                    <li ng-repeat="demo in vm.demoreqs"><a ui-sref="demos.view({id: demo.Id})">{{demo.AsscName}}, {{demo.Telephone}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>