<div ui-view>
    <div>
        <input type="submit" ui-sref=".add" value=" + Add new" class="btn btn-primary">
    </div>
    <br/>

    <div ng-if="vm.noAsso">No association</div>
    <div ng-if="vm.associations">
        <div class="list-group">
            <div class="list-group-item active">
                <span>List of all associations</span>
            </div>
            <a ng-repeat="assc in vm.associations" class="list-group-item" ui-sref="association({id: assc.Id})">
                <span>{{assc.Name}}, {{assc.Address}}, {{assc.Telephone}}</span>
            </a>
        </div>
    </div>
</div>