<!DOCTYPE html>
<html>
<head>
    
    <script type="text/javascript">
        if (window) {
            window.appSettings = {
                dataUrl: 'api/data/get',
                saveDemoUrl: 'api/data/saveDemo',
                saveAssociationUrl: 'api/data/saveAssociation',
                addPaymentUrl: 'api/data/addPayment',
                subscribeAssocUrl: 'api/data/subscribeAssoc'
            };
        }
    </script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IB Union Portal</title>

    <link href="~/Content/styles.css" rel="stylesheet"/>

    <style type="text/css">
        .printOnly {
            display: none;
        }
    </style>

</head>
<body ng-app="app">
    <div class="navbar navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header navbar-default">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-default" href="/">
                    IB UNION PORTAL DASHBOARD
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_LogOnPartial")
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a ui-sref="summary" class="list-group-item active">Summary</a>
                    <a ui-sref="associations" class="list-group-item">All associations</a>
                    <a ui-sref="associations.add" class="list-group-item">Add Association</a>
                    <a ui-sref="demos" class="list-group-item">Demos</a>
                </div>
            </div>
            <div class="col-md-10 contentArea">

                <div ui-view></div>
            </div>
        </div>



        @RenderBody()
    
        <hr/>
        <footer>
            <div align="center">
                <p>&copy; @DateTime.Now.Year - ibunionportal.com Application. All rights reserved</p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/app.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#printBtn").click(function () {

                window.PrintContent = $('.body-content').html();
                window.open("/Content/printpage.html", "Print page", "height=650,width=850");

                return false;
            });
        });
    </script>

</body>
</html>
