<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Backend.Interfaces.IAuthentication, Backend.Interfaces" mapTo="Backend.Logics.AuthenticationLogic, Backend.Logics" />
    <register type="Backend.Interfaces.IDemoLogic, Backend.Interfaces" mapTo="Backend.Logics.DemoLogic, Backend.Logics" />
    <register type="Backend.Interfaces.IAssociationLogic, Backend.Interfaces" mapTo="Backend.Logics.AssociationLogic, Backend.Logics" />
    
    <register type="Portal.Common.Logging.ILogProvider, Portal.Common" mapTo="Portal.Common.Logging.LogProvider, Portal.Common" />
    
    <!-- REPOSITORIES -->
    <register type="Portal.DataAccess.Interfaces.IAccountRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AccountRepository, Portal.DataAccess" />
    <register type="Portal.DataAccess.Interfaces.IAccountingRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AccountingRepository, Portal.DataAccess" />
    <register type="Portal.DataAccess.Interfaces.IAdminRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AdminRepository, Portal.DataAccess" />
  </container>

</unity>
