<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <container>
    <register type="Portal.Web.Interfaces.IAuthentication, Portal.Web.Interfaces" mapTo="Portal.Web.Logics.AuthenticationLogic, Portal.Web.Logics" />
    <register type="Portal.Web.Interfaces.IAccount, Portal.Web.Interfaces" mapTo="Portal.Web.Logics.AccountLogic, Portal.Web.Logics" />
    <register type="Portal.Web.Interfaces.IAccounting, Portal.Web.Interfaces" mapTo="Portal.Web.Logics.AccountingLogic, Portal.Web.Logics" />
    <register type="Portal.Web.Interfaces.IAdminLogic, Portal.Web.Interfaces" mapTo="Portal.Web.Logics.AdminLogic, Portal.Web.Logics" />
    <register type="Portal.Web.Interfaces.IDemoLogic, Portal.Web.Interfaces" mapTo="Portal.Web.Logics.DemoLogic, Portal.Web.Logics" />
    <register type="Portal.Common.Logging.ILogProvider, Portal.Common" mapTo="Portal.Common.Logging.LogProvider, Portal.Common" />
    
    <!-- REPOSITORIES -->
    <register type="Portal.DataAccess.Interfaces.IAccountRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AccountRepository, Portal.DataAccess" />
    <register type="Portal.DataAccess.Interfaces.IAccountingRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AccountingRepository, Portal.DataAccess" />
    <register type="Portal.DataAccess.Interfaces.IAdminRepository, Portal.DataAccess" mapTo="Portal.DataAccess.Repositories.AdminRepository, Portal.DataAccess" />
  </container>

</unity>
